# Gemini
GEMINI_API_KEY=your-api-key-here
GEMINI_CLASSIFIER_MODEL=   # ex) gemini-2.5-flash-lite
GEMINI_GENERATOR_MODEL=    # ex) gemini-2.5-flash-lite

# CLOVA
CLOVA_API_KEY=your-api-key-here
CLOVA_CLASSIFIER_MODEL=    # ex) HCX-005
CLOVA_GENERATOR_MODEL=     # ex) HCX-005